
/*
.page-content
{
    min-height: calc(100vh - 433.433px - 60px);
}
*/

.shadowed-card
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.auth-card
{
    width: 80%;
    padding: 50px 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.close-alert-button
{
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 5px;
}

.gray-layer
{
    transform: translate(0%, 0%);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}

#toasts-section
{
    transform: translate(0%, 0%);
    position: fixed;
    display: block;
    top: 15px;
    right: 10px;
    height: 80px;
    width: 35vw;
    z-index: 10000;
    border-radius: 10px;
    background-color: transparent;
    pointer-events: none;
}


.application-state-new-color {
    background-color: #DDC9A3;
}

.application-state-completed-color {
    background-color: #198754;
    color: white;
}

.application-state-waiting-payment-color {
    background-color: #0DCAF0;
}

.application-state-payment-registered-color {
    background-color: #10312B;
    color: white;
}

.application-state-canceled-color {
    background-color: #DC3545;
}
